In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("spam.csv", encoding="latin-1")
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace= True)

In [5]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data['class'].unique()

array(['ham', 'spam'], dtype=object)

In [7]:
data['class']=data['class'].map({'ham':0,'spam':1})
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer()

In [10]:
X = data['message']
y = data['class']

In [11]:
X=cv.fit_transform(X)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
model = MultinomialNB()

In [16]:
model.fit(x_train,y_train)

MultinomialNB()

In [17]:
result=model.score(x_test,y_test)

In [18]:
result = result*100

In [19]:
result

98.20627802690582

In [20]:
#pickeling
import pickle

In [21]:
pickle.dump(model, open("spam.pkl","wb"))

In [22]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [23]:
clf = pickle.load(open("spam.pkl","rb"))

In [24]:
##checking 
msg = "Hi Roshan"
data=[msg]
vect=cv.transform(data).toarray()
result = model.predict(vect)
result

array([0], dtype=int64)